<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="description" lang="fr" content="Je crée des bracelets en pierres naturelles. La litothérapie est une technique de soin par les pierres.">
		<title>
			{% block title %}Les bracelets de Marie, création unique.
			{% endblock %}
		</title>
		{% block stylesheets %}
			{# <link rel="stylesheet" href="style.css"> #}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
	</head>
	<body>
		<div id="modal-wrapper">
			
		</div>
		<div class="flash-message">
            {% block flash_message %}
                <div id="flash_message">
                    {% include "layouts/partials/_flash_message.html.twig" %}
                </div>
            {% endblock %}
        </div>
		{% block body %}
			<header>
				{% block header %}
					{% include "layouts/partials/_header.html.twig" %}
				{% endblock %}
			</header>
			{% include "layouts/partials/_header-navbar.html.twig" %}
			<main class="bg-blur">
				{% block main %}{% endblock %}
			</main>
			<footer>
				{% block footer %}
					{% include "layouts/partials/_footer.html.twig" %}
				{% endblock %}
			</footer>
		{% endblock %}
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</body>
</html>
