<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{# Run `composer require symfony/webpack-encore-bundle`
				           and uncomment the following Encore helpers to start using Symfony UX #}
		{% block stylesheets %}
			{# <link rel="stylesheet" href="style.css"> #}
		{{ encore_entry_link_tags('app') }}
		{% endblock %}
	</head>
	<body>
		{% block body %}
			<header>
				{% block header %}
					{% include "layouts/partials/_header.html.twig" %}
				{% endblock %}
			</header>
			<main>
				{% block main %}{% endblock %}
			</main>
			<footer>
				{% block footer %}
					{% include "layouts/partials/_footer.html.twig" %}
				{% endblock %}
			</footer>
		{% endblock %}
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</body>
</html>
