<div class="header-title">
	<div class="mobile-menu">

	</div>
	<div class="center">
		<img src="{{ asset('photos/logo.svg') }}" alt="logo les bracelets de Marie">
	</div>
	<div class="login"></div>
</div>
