<div class="logo"></div>
<div class="center">
    Les Perles de Marie
</div>
<div class="login">
    login
    <div>
    <a href="{{ path('basket') }}"><i class="fa fa-shopping-basket"></i> Panier
    </div>
</a>
</div>
<div id="test"></div>