@import "./variable";
@import "./base.scss";
@import "./backdrop-filter.scss";
@import "./utilities.scss";
@import "./pages/basket.scss";

.logo {
    width: 20%;
}

.center {
    width: 70%;
}

.login {
    width: 20%;
}

.titre {
    text-align: center;
}
