.bg-blur {
  background-color: #f7ece1af;
  border-radius: 5px;
  color: #333;
  font-family: sans-serif;
  line-height: 1.5;
  padding: 1rem 2rem;
  a {
    color: #bf0222;
  }
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .bg-blur {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5);  
  }
  .warning {
    display: none;
  }
  a {
    color: #bf0222;
  }
}