<div id="background-blur" class="bg-blur">
	<div id="modal-body" class="card col-12 col-lg-8">
        <div class="modal-header">
            <span>{{ article.titre }}</span>
            <span id="close" class=""><i class="far fa-times-circle size:5"></i></span>
        </div>
            <div class="modal-body"></div>
        {{ article.description|raw }}
    </div>
</div>
