#modal-wrapper {
  position: relative;
}

#background-blur {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-header {
  display: flex;
  justify-content: space-between;
}

#modal-body {
  z-index: 55;
  background-color: $color1;
  padding: 0.5rem 1rem;
  border: 0.25rem solid $color2;
  border-radius: 5px;
  color: $color2;
}

#close {
  color: #bf0222;
  font-size: 2rem;
}

.fa-times-circle:hover {
  transform: rotate(360deg);
}
.fa-times-circle {
  transition: transform 1.2s ease 0s;
}
