{% extends "layouts/base.html.twig" %}
{% block main %}
<h1>
Bienvenue !
</h1>
<section class="mb-4 home-text">
<p>
    Passionnée par la lithothérapie qui est une méthode thérapeutique de soins holisitique, qui se sert de l'énergie des pierres pour rééquilibrer et harmoniser l'organisme. <br>
    Elle utilise entre autres, 7 zones du corps, appelées chakras, par lesquelles les échanges énergétiques ont lieu.
</p>
<p>
    Les pierres et minéraux possèdent des vertus et vibrent ce qui les rend aptes à dénouer les tensions physiques et psychiques.
</p>
<p>
    La lithothérapie utilise l'énergie des pierres pour rétablir l'équilibre corps, âme, esprit. <br>
    Certaines pierres calment, d'autres stimulent, renforcent ou créent une protection. <br>
    Elles accompagnent les maux du quotidien : stress, douleurs articulaires, absence de confiance en soi, trouble du sommeil, blessures émotionnelles, ... et donnent de l'élan à son évolution personnelle.
</p>
<p>
    Attirée par la beauté des pierres, leurs couleurs, leurs reflets et leurs diversités, je recherche à travers mes créations à allier l'accompagnement et le développement de soi à l'esthétisme. <br>
    L'avantage de porter les pierres est de combiner l'utile à l'agréable.
</p>
<p>
    Les pierres mises ainsi en valeur, sont à la fois harmonieuses et utiles. <br>
    Enroulées autour du poignet, elles sont au plus près de nous. <br>
    Avec mes créations, je recherche les bonnes vibrations qui vous donneront les bonnes informations pour se faire plaisir et prendre soins de soi. C'est un point de départ vers une amélioration de son bien être. <br>
    Je vous souhaite de prendre du plaisir en parcourant mon site. 
</p>
<p>
    Marie.
</p>
</section>
<section>
    <p>Lien sites</p>
</section>


{% endblock %}