{% extends 'layouts/base.html.twig' %}

{% block title %}
	{{ controller_name }}
{% endblock %}

{% block main %}
	<h1>
		{{ controller_name }}!
	</h1>
	<div class="article-wrapper col-12">
		
			{% include "article/_article.html.twig" %}


	</div>
{% endblock %}
{# hx-get="/contacts/?page=2"
    hx-trigger="revealed"
    hx-swap="afterend" #}