{% extends 'layouts/base.html.twig' %}

{% block title %}
	{{ controller_name }}
{% endblock %}

{% block main %}
	<h1>
		{{ controller_name }}!
	</h1>
	<div class="article-wrapper">
		{% for article in articles %}
			{% include "article/_article.html.twig" %}
		{% endfor %}
	</div>
{% endblock %}
